/*Thank you for flying with MX-Directory, please prepare for ez customization.
The Admin Preference Category Color settings override this css.

Entries occuring across pages are listed in common*/

/*Edit the CSS styles for the page or item you would like to change below*/

/*Common*/
.c_header {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight: 600;
}

.c_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-weight: bolder;
}

.c_formbuttons {
	height: 18px;
}

.c_img_display {

}

.c_select{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-variant: small-caps;
}

.c_select_letters{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-variant: small-caps;
	vertical-align: middle;
	text-align: center;
}

/*common e-mail,map,print*/
.c_linkbtn_spacing {
	text-align: right;
	vertical-align: top;
}

.c_url {
	height: 15px;
	font-style: italic;
	line-height: 120%;
}

.c_search_table {
	display: inline-table;
	width: 70%;
}

.c_embtn {
	height: 20px;
}
.c_mapbtn {
	height: 20px;
}
.c_printbtn {
	height: 20px;
}
.c_formbuttons {
	height: 20px;
}


.c_desc {
	height: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}

.c_body {
}

.c_premheader {
	background-color: #FFFFCC;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-variant: small-caps;
	color: #666666;
}

.c_allheader {
	background-color: #E9E9E9;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-variant: normal;
	color: #666666;
	padding: 0px;
	display: table-row;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
}

.c_path {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-style: italic;
}

.c_navbar {
	color: #009900;
	text-align: center;
}

.c_footer {
	background-color: #FFFFCC;

}

.c_comments_footer {

}
.c_premlnk_bkgd {
	padding-bottom: 6px;
}
.c_sort {
	background-color: #FFFFCC;
	text-align: center;

}
.c_search_l {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: x-small;
	text-align: left;
	vertical-align: middle;
	margin-left: 20px;
	width: 15%;
}

.c_search {
	text-align: center;
	vertical-align: top;
}

.c_search_r {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	text-align: right;
	vertical-align: middle;
	margin-right: 20px;
	width: 15%;
}

.c_search_select {
	background-color: #FFFFCC;
	height: 18px;
	font-size: xx-small;
}

.c_searchbutton {
	height: 20px;
	font-variant: small-caps;
	color: #666666;
}

.c_search_input {
	height: 15px;
}

.ratelink_body {
	list-style-position: outside;
	list-style-type: square;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: list-item;
}

.lf_wrapper{
}
.lf_address{
}
.lf_logo {
	padding: 5px;
}

.lf_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	font-variant: small-caps;
}

.lf_header_title {
	font-size: 14px;
	font-weight: 200;
	font-variant: small-caps;
	color: #FFFFFF;
}
.lf_left_panel {
	width: 25%;
	text-align: left;
	padding: 10px;

}

.lf_header_box {
	font-size: 14px;
	font-weight: 200;
	font-variant: small-caps;
	color: #FFFFFF;
	background-color: #CCCCCC;
	text-align: center;
	vertical-align: middle;
	clear: both;
	padding-top: 4px;
}
.lf_top_left_img {
	background-color: #CCCCCC;
	background-image: url(css/tl.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 15px;
}
.lf_top_right_image {
	background-image: url(css/tr.gif);
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	background-position: right top;
	width: 15px;
}
.lf_description {
}
.lf_right_bar {
	background-color: #CCCCCC;
	height: 100%;
	width: 1%;
}
.lf_left_bar {
	background-color: #CCCCCC;
	height: 100%;
	width: 1%;
}

.lf_embtn {
}
.lf_mapbtn {
}
.lf_printbtn {
}

.lf_nav_links {
}

.lf_adm {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.lf_rating {
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.lf_footer {
	background-color: #CCCCCC;
}
.lf_dropdowns {
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
}

.lf_url {
}
.lf_description_panel {
	text-align: left;
	padding-right: 10px;
	width: 73%;
}
.lf_left_panel_buttons {
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
	clear: left;
	width: 10%;
}
.lf_admin_rating_box {
}

/*copy*/
.link_image_panel{
	text-align: center;
	vertical-align: middle;
}
.link_address{
}
.link_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 600;
	font-variant: small-caps;
	text-align: left;
}
.link_header_title {

}
.link_left_panel {
	text-align: left;

}

.link_header_box {
	font-size: 14px;
	font-weight: 200;
	font-variant: small-caps;
	color: #FFFFFF;
	background-color: #CCCCCC;
	text-align: center;
	vertical-align: middle;
}
.link_logo_box {

}
.link_buttons {
	background-color: #CC9900;
}
.link_description {
}
.link_right_bar {
	background-color: #CCCCCC;
	width: 4px;
}
.link_left_bar {
	background-color: #CCCCCC;
	width: 10px;
}
.link_nav_links {
	font-size: 10px;
	font-weight: 400;
	font-variant: small-caps;
	text-align: center;
}
.link_nav_links a{
	color: #999999;
	font-size: 10px;
	font-weight: 800;
	font-variant: small-caps;
}

.link_adm {
}
.link_rating {
	text-align: right;
}
.link_nav_box {
}
.link_dropdowns {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-variant: small-caps;
}

.link_url {
}
.link_description_panel {
}
.link_left_panel_buttons {
}
.link_rating_text {
}
.link_footer {
	font-size: 10px;
	font-weight: 400;
	font-variant: small-caps;
	text-align: center;
}

/*PREMIUM*/
.premium_address{
}
.premium_logo {
}

.premium_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-variant: small-caps;
	vertical-align: bottom;
}
.premium_header_title {
	font-size: 14px;
	font-weight: 200;
	font-variant: small-caps;
	color: #FFFFFF;
}
.premium_left_panel {

}
.premium_embtn {
	height: 15px;
}
.premium_mapbtn {
	height: 15px;
}
.premium_printbtn {
	height: 15px;
}
.premium_formbuttons {
	height: 15px;
}

.premium_header_box {
	font-size: 14px;
	font-weight: 200;
	font-variant: small-caps;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
	padding-right: 10px;
	padding-left: 10px;
}
.premium_top_left_img {
	background-color: #CCCCCC;
	background-image: url(css/tl.gif);
	background-repeat: no-repeat;
}
.premium_top_right_image {
	background-image: url(css/tr.gif);
	background-repeat: no-repeat;
	background-color: #CCCCCC;
}
.premium_description {
}
.premium_hours {
	text-align: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-variant: small-caps;
}
.premium_catname {
	clear: both;
	font-size: xx-small;
}
.premium_nav_links {
}

.premium_adm {
}
.premium_rating {
	text-align: right;
	font-size: x-small;
}
.premium_nav_box {
}
.premium_dropdowns {
}

.premium_url {
}
.premium_description_panel {
	font-size: xx-small;
}
.premium_buttons {
}
.premium_admin_rating_box {
}

/*PRINT & COUPON*/
.coupon_title {

}
.coupon_body {
}
.coupon_dates {

}
.coupon_footer {
	text-align: center;

}
.coupon_counter {

}
.coupon_heading {

}

.coupon_linktitle {

}
.coupon_description {

}
.coupon_box {
}

.print_title {

}
.print_address {

}
.print_contacts {
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
.print_hours {
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
.print_url {

}

.print_description {

}
.print_button {

}
.print_box {
}

/*Directory Index (index.php)*/
.index_subcats {
	font-size: xx-small;
	color: #66CC66;
}

		.rbroundbox { background: url(css/nt.gif) repeat; }
		.rbtop div { background: url(css/tl.gif) no-repeat top left; }
		.rbtop { background: url(css/tr.gif) no-repeat top right; }
		.rbbot div { background: url(css/bl.gif) no-repeat bottom left; }
		.rbbot { background: url(css/br.gif) no-repeat bottom right; }
		
		/* height and width stuff, width not really nessisary. */
		.rbtop div, .rbtop, .rbbot div, .rbbot {
		width: 100%;
		height: 7px;
		font-size: 1px;
		}
		.rbcontent { margin: 0 7px; }
		.rbroundbox { width: 50%; margin: 1em auto; }

.link_footer {

	font-size: 14px;
	font-weight: 200;
	font-variant: small-caps;
	color: #FFFFFF;
	text-align: center;
}
.index_category_links_display {
	padding: 4px;
}
