<{$xoops_module_header}>
<table border="0" cellpadding="0" cellspacing="0" class="lf_wrapper">
  <tr>
    <td colspan="2" valign="top" class="lf_top_left_img"></td>
    <td colspan="3" class="lf_header_box"><{$link.adminlink}><{$link.title}><{if $link.coupons > "0" && $link.lvlopts.6 == "1" }>
        <a href="savings.php?lid=<{$link.id}>"><img src="<{$xoops_url}>/modules/<{$smartydir}>/images/coupons.jpg" alt="&lt;{$smarty.const._MD_MXDIR_SAVINGS}&gt;" /></a>
      <{/if}></td>
  <td colspan="2" valign="top" class="lf_top_right_image">&nbsp;</td>
  </tr>
  <tr>
    <td width="10" rowspan="5" valign="top" class="link_left_bar">&nbsp;</td>
    <td colspan="2" rowspan="5" valign="top" class="lf_left_panel">
      <{if $link.logourl != "" && $link.lvlopts.8 == "1"}>
        <br />
				<img src="<{$xoops_url}>/modules/<{$smartydir}>/images/shots/<{$link.logourl}>" alt="&lt;{$coupon.linkTitle}&gt; &lt;{$smarty.const._MD_MXDIR_LOGO}&gt;" />
				<br />
      <{/if}>
      <span style="font-weight: bold;"><{$link.titletrim}></span>
      <br />
      <{$link.address}><br />
      <{if $link.address2 != ""}>	
			  <{$link.address2}> <br />
      <{/if}>
      <{$link.city}>,&nbsp;<{$link.state}>&nbsp;<{$link.zip}> <br />
      <{if $link.country != ""}>
        <span style="font-weight: bold;"><{$lang_country}></span><{$link.country}>
        <br /><br /><{/if}>
      <{if $link.url != "http://" && $link.url != "" && $link.lvlopts.4 == "1"}>
				  <a href='visit.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>' target='_blank'><img src='images/link.gif' border='0' alt='&lt;{$lang_visit}&gt;' /><{$link.url}></a>
	    <{/if}>
	    <{if ($admcont != '')}><br /><br /><{$smarty.const._MD_MXDIR_BUSADMINFO}><{$admcont}><br /><{/if}>
	          </td>
    <td width="499" height="7" valign="top" class="lf_adm"><div align="left">&nbsp

    </div></td>
    <td colspan="2" valign="top" class="lf_rating"><div align="right"><{$lang_rating}><{$link.rating}>(<{$link.votes}>)</div></td>
    <td width="4" rowspan="5" valign="top" class="lf_right_bar">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" valign="top" class="lf_dropdowns">
        <{if $link.biznums}><{html_options name=biznums options=$link.biznums}><{/if}>
		<{html_options name=bizhrs options=$link.bizhrs}>	</td>
  </tr>
  <tr class="lf_left_panel_buttons">
    <td colspan="2" valign="top"></td>
	<td width="666" colspan="1" valign="top">
	<table>
			  <tr class="lf_left_panel_buttons">
          <{if $link.email != ""}>
          <td>
            <form action="<{$xoops_url}>/modules/<{$smartydir}>/contact.php" method="get" name="email" id="email">
              <input type="hidden" name="lid" value="<{$link.id}>" />
              <input type="hidden" name="op" value="ctob" />
              <input type="submit" class="c_embtn" value="<{$smarty.const._MD_MXDIR_EMAILBTN}>" />
            </form></td>
          <{/if}>
          <td>
          <!-- REPLACE THE FOLLOWING CODE WITH CODES FOR YOUR COUNTRY FROM THE /MAPS DIRECTORY -->
              <form action="http://maps.google.com/maps?" method="get" name="mapForm2" target="_new" id="mapForm2">
                              <input type="hidden" name="f" value="q" />
                              <input type="hidden" name="hl" value="us" />
                              <input type="hidden" name="q" value="<{$link.address}>, <{$link.zip}> <{$link.city}>, <{$link.country}> " />
                              <input type=submit name="getmap" value="Map">
                          </form>
          <!-- END OF CODE REPLACEMENT FOR COUNTRY MAPS -->          </td>

          <td><form action='<{$SCRIPT_NAME}>' method="get" name="prnt" id="prnt">
              <input type="button" class="c_printbtn" onclick="javascript:openWithSelfMain('<{$xoops_url}>/modules/<{$smartydir}>/print.php?lid=<{$link.id}>', 'print', 500, 380);" value="<{$smarty.const._MD_MXDIR_PRINTBTN}>" />
            </form>          </td>
		    </tr>
    </table>	</td>
  </tr>
  <tr>
    <td colspan="3" valign="top" class="lf_description_panel">
      <{$lang_description}>&nbsp;<span class="lf_description">
      <{$link.description}>
      </span> </td>
  </tr>
  <tr>
    <td colspan="3" valign="top" class="lf_description_panel">&nbsp;</td>
  </tr>
  <tr class="lf_footer">
    <td colspan="7" valign="top" class="footer style1">
      <span class="lf_nav_links">
      <{if $admin && $link.lvlopts.6 == "1"}>
		    <a href="<{$xoops_url}>/modules/<{$smartydir}>/addcoupon.php?lid=<{$link.id}>">
		    <{$smarty.const._MD_MXDIR_ADDCOUPON}>		    </a>&nbsp;|&nbsp;
			<{/if}>
			<a href="<{$xoops_url}>/modules/<{$smartydir}>/ratelink.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>">
			<{$lang_ratethissite}>			</a>
			<{if $is_owner || ($showmod && $xoops_isuser)}>
&nbsp;|&nbsp;<a href="<{$xoops_url}>/modules/<{$smartydir}>/modlink.php?lid=<{$link.id}>">
<{$lang_modify}>
</a>
			<{/if}>
&nbsp;|&nbsp;<a target="_top" href="contact.php?op=tell&amp;subject=<{$link.mail_subject}>&amp;lid=<{$link.id}>">
<{$lang_tellafriend}>
</a></span></td>
  </tr>
  <tr>
    <td height="1" colspan="7"></td>
  </tr>
</table>