<{$xoops_module_header}>
<table width="888" border="0" align="center" cellpadding="0" cellspacing="0" class="c_search">
  <tr>
    <td class="c_search_l"><{$smarty.const._MD_MXDIR_DIRHEADER}></td>
    <td class="c_search_table">
	<{if $usesearch != "0"}>
            <!--Search Table-->
			<form name='search' id='search' action='<{$xoops_url}>/search.php' method='post' onsubmit='return xoopsFormValidate_search();'>
              <input type='hidden' name='mids[]' value='<{$xmid}>' />
                <input name='query' type='text' class="c_search_input" id='query' value='' size='20' maxlength='255' />
                    <select name='andor'  size='1' class="c_search_select" id='andor'>
                        <option value='AND' selected='selected'><{$smarty.const._MD_MXDIR_ALLWORDS}></option>
                        <option value='OR'><{$smarty.const._MD_MXDIR_ANYWORDS}></option>
                        <option value='exact'><{$smarty.const._MD_MXDIR_EXACTMATCH}></option>
                </select>
                <input type='submit' class='c_searchbutton' name='submit'  id='submit' value='<{$smarty.const._MD_MXDIR_SEARCH}>' />
          <input type='hidden' name='action' id='action' value='results' />
            </form>

      <{/if}>
    </td>
      <td class="c_search_r"><div><a href="<{$xoops_url}>/modules/<{$smartydir}>/savings.php?cid=<{$category_id}>"><{$smarty.const._MD_MXDIR_SAVINGS}></a></div>
      <div><a href="<{$xoops_url}>/modules/<{$smartydir}>/submit.php"><{$smarty.const._MD_MXDIR_SUBMITLINK}></a></div></td>
    </tr>
    <{if $usealpha != "0"}>
    <tr align="center">
      <td colspan="3" class="c_select_letters"><{$smarty.const._MD_MXDIR_SEARCHFOR}>:&nbsp;<{$letters}>
	</td>
  </tr>
  <{/if }>
</table>
<hr />

<script type='text/javascript'>
<!--
  function xoopsFormValidate_search(){}
//-->
</script>

  <!-- Start category loop -->
  <{foreach name=tlcat item=category from=$categories}><{if $smarty.foreach.tlcat.first}>
<table cellspacing='5' style="border-style: none; padding: 0px; text-align: left;">
      <tr>
    <{/if}>
        <td valign="top">
        <{if $category.image != ""}>
          <a href="<{$xoops_url}>/modules/<{$smartydir}>/viewcat.php?cid=<{$category.id}>"><img src="<{$category.image}>" alt="" height="50" border="0" class="c_img_display" /></a>
        <{/if}>        </td>
        <td valign="top" width="33%"><span class="index_category_title"><a href="<{$xoops_url}>/modules/<{$smartydir}>/viewcat.php?cid=<{$category.id}>" class="c_title"><{$category.title}></a>&nbsp;</span>          <span class="index_subcats">(<{$category.totallink}>)<br />
        <{$category.subcategories}></span> </td>
    <{if $category.count is div by 3}>      </tr><tr>
        <{/if}>
    <{if $smarty.foreach.tlcat.last}>
      </tr>
</table>
    <br /><br />
    <div class="c_desc"><{$lang_thereare}></div>
    <hr /><br />
    <{/if}>        
  <{/foreach}>
  <!-- End category loop -->

<{if $links != ""}>
  <h4 class="c_title"><{$lang_latestlistings}></h4>
  <table width="100%" class="index_category_links_display">
    <tr><td width="100%" align="center" valign="top">
      <!-- Start new link loop -->
      <{section name=i loop=$category}>
        <{$link.category link=$category[i]}>
        <{section name=i loop=$links}>
          <{include file="db:xdir_link.html" link=$links[i]}>
        <{/section}>
      <{/section}>
      <!-- End new link loop -->
    </td></tr>
</table>
<{/if}>
<{include file='db:system_notification_select.html'}>